{% extends 'mainapp/base.html' %} 
{% block title %}{{block.super}} | Home{% endblock title %} 
{% block body %}
<hr>
<h1>Welcome to Our Site</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident possimus necessitatibus incidunt aliquam vel ea! Minus velit reiciendis eos tenetur consequatur, saepe reprehenderit voluptate fugit ad quod labore optio voluptates non ullam voluptatum
    corporis veritatis ducimus esse aut in tempore architecto voluptas? Ab ipsum pariatur voluptas blanditiis optio, ratione numquam et quas architecto suscipit commodi accusantium itaque amet. Quod pariatur sint temporibus tenetur quasi dignissimos ex
    culpa facere reprehenderit. Inventore, totam reiciendis at doloremque molestias magnam odio nam ratione non iure. Voluptatem inventore adipisci possimus. Aspernatur sunt perspiciatis id sapiente quia debitis accusantium odio obcaecati, animi consequuntur
    quasi et! Nisi.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident possimus necessitatibus incidunt aliquam vel ea! Minus velit reiciendis eos tenetur consequatur, saepe reprehenderit voluptate fugit ad quod labore optio voluptates non ullam voluptatum
        corporis veritatis ducimus esse aut in tempore architecto voluptas? Ab ipsum pariatur voluptas blanditiis optio, ratione numquam et quas architecto suscipit commodi accusantium itaque amet. Quod pariatur sint temporibus tenetur quasi dignissimos ex
        culpa facere reprehenderit. Inventore, totam reiciendis at doloremque molestias magnam odio nam ratione non iure. Voluptatem inventore adipisci possimus. Aspernatur sunt perspiciatis id sapiente quia debitis accusantium odio obcaecati, animi consequuntur
        quasi et! Nisi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident possimus necessitatibus incidunt aliquam vel ea! Minus velit reiciendis eos tenetur consequatur, saepe reprehenderit voluptate fugit ad quod labore optio voluptates non ullam voluptatum
            corporis veritatis ducimus esse aut in tempore architecto voluptas? Ab ipsum pariatur voluptas blanditiis optio, ratione numquam et quas architecto suscipit commodi accusantium itaque amet. Quod pariatur sint temporibus tenetur quasi dignissimos ex
            culpa facere reprehenderit. Inventore, totam reiciendis at doloremque molestias magnam odio nam ratione non iure. Voluptatem inventore adipisci possimus. Aspernatur sunt perspiciatis id sapiente quia debitis accusantium odio obcaecati, animi consequuntur
            quasi et! Nisi.</p>
            <hr>

            {% include 'mainapp/topcourse.html' with p="php" %}

{% endblock body %}