<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class based view</title>
</head>

<body>
    <h1>Types of View :- </h1>
    <ul>
        <li>Base class-based view or (Base View)</li>
        <li>Generic class-based view or (Generic view)</li>
    </ul>
    <h3>This page is render by class based view (Base view)</h3>
    <h2>{{info}}</h2>
</body>

</html>